OPEN_ESA_ADDR=0.0.0.0
OPEN_ESA_PORT=8080
OPEN_ESA_TAEM=myteam
OPEN_ESA_PER_PAGE=5
OPEN_ESA_SESSION_SECRET=secret
OPEN_ESA_COOKIE_SECURE=false
OPEN_ESA_OAUTH2_CLIENT_ID=...
OPEN_ESA_OAUTH2_CLIENT_SECRET=...
OPEN_ESA_OAUTH2_REDIRECT_HOST=http://localhost:8080
