ESAOP_ADDR=0.0.0.0
ESAOP_PORT=8080
ESAOP_TAEM=myteam
ESAOP_PER_PAGE=5
ESAOP_SESSION_SECRET=secret
ESAOP_COOKIE_SECURE=false
ESAOP_OAUTH2_CLIENT_ID=...
ESAOP_OAUTH2_CLIENT_SECRET=...
ESAOP_OAUTH2_REDIRECT_HOST=http://localhost:8080
