OPENESA_ADDR=0.0.0.0
OPENESA_PORT=8080
OPENESA_TAEM=myteam
OPENESA_PER_PAGE=5
OPENESA_SESSION_SECRET=secret
OPENESA_COOKIE_SECURE=false
OPENESA_OAUTH2_CLIENT_ID=...
OPENESA_OAUTH2_CLIENT_SECRET=...
OPENESA_OAUTH2_REDIRECT_HOST=http://localhost:8080
