addr = "${OPEN_ESA_ADDR}"
port = ${OPEN_ESA_PORT}
team = "${OPEN_ESA_TAEM}"
per_page = ${OPEN_ESA_PER_PAGE}
session_secret = "${OPEN_ESA_SESSION_SECRET}"
cookie_secure = ${OPEN_ESA_COOKIE_SECURE}

[oauth2]
client_id = "${OPEN_ESA_OAUTH2_CLIENT_ID}"
client_secret = "${OPEN_ESA_OAUTH2_CLIENT_SECRET}"
redirect_host = "${OPEN_ESA_OAUTH2_REDIRECT_HOST}"
